{% extends "base.html" %}

{% block content %}
	<h3>Problem Statement</h3>
	<blockquote>
      The user wants a responsive web interface to see a particular comment from the mySidewalk engagement comments API. Load the comment with ID 100 (<a href="https://mysidewalk.com/api/engagement/v1/comments/100.json">https://mysidewalk.com/api/engagement/v1/comments/100.json</a>) from the API, redirect the window’s location to a path that represents a human friendly portion of the comment, and display the comment in a device response and visually pleasing manner.
    </blockquote>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
{% endblock %}